# Configuration file

general {
    # Approximate Far Lands start distance. Might not change the start distance for some generators added by mods. (set to -1 for default distance) [range: -1 ~ 12550820, default: -1]
    I:FarLandsStart=5000

    # Approximate Far Lands start distance in the end. (set to -1 for default distance) [range: -1 ~ 12550820, default: -1]
    I:FarLandsStartEnd=-1

    # Approximate Far Lands start distance in the nether. If you want the farlands in the nether to line up with farlands in the overworld, set this to an eighth of the value. (set to -1 for default distance) [range: -1 ~ 12550820, default: -1]
    I:FarLandsStartNether=-1

    # Directions that farlands will generate. Examples: "NEWS" for all directions. "NW" to spawn them north and to the west. "E" to spawn them to the east. [default: NEWS]
    S:generateInDirection=NEWS
}


