# Configuration file

"client specific" {
    B:"[C2FD13DB0_fa33d7]U Console Loading Info"=true
    B:"[C3B7AF873_fa33d7]U Custom/Donator Renders"=true
    B:"[CADD2344B_c1eb65]U Console Loading Info"=true
    B:"[CB97BEF0E_c1eb65]U Custom/Donator Renders"=true
    B:"[D258BBA56_c1eb65]U Debug Mode"=false
    B:"[D26701C25_c1eb65]U Disable Renders For Debug"=false
    B:"[D42FFA7C7_c1eb65]U Disable rain sound and particles"=false
    B:"[D46FA337F_c1eb65]U Disable Hotbar Swapping"=false
    I:"[D6046007E_c1eb65]U Debug Overlay Key (LWJGL ID)"=15
    B:"[LC8C0D6A5_fa33d7]U Log Loading Info To Separate File"=false
    B:"[DA78AC3BB_fa33d7]U Debug Mode"=false
    B:"[DA86F258A_fa33d7]U Disable Renders For Debug"=false
    B:"[SB28A8D8F_fa33d7]U Show TileEntity NBT when using Debug Key"=false
    B:"[I2BDEAFA8_fa33d7]U Increase sound channel count"=true
    B:"[DC8F93CE4_fa33d7]U Disable Hotbar Swapping"=false
    B:"[LF4AAF8A7_fa33d7]U Log errors to chat"=true
    B:"[E5BBCEA9D_fa33d7]U Enable Temporally Dependent Amusement Behavior"=true
    I:"[PEBF7870F_fa33d7]U Particle Limit (Vanilla = 4000)"=4000
    I:"[DE24509E3_fa33d7]U Debug Overlay Key (LWJGL ID)"=15
    B:"[DC4FEB12C_fa33d7]U Disable rain sound and particles"=false
    B:"[ED9BDE138_c1eb65]U Enable Temporally Dependent Amusement Behavior"=true
    B:"[IA9DFA643_c1eb65]U Increase sound channel count"=true
    B:"[L46C1CD40_c1eb65]U Log Loading Info To Separate File"=false
    B:"[L72ABEF42_c1eb65]U Log errors to chat"=true
    I:"[P69F87DAA_c1eb65]U Particle Limit (Vanilla = 4000)"=4000
    B:"[S308B842A_c1eb65]U Show TileEntity NBT when using Debug Key"=false
    S:"[S61685025_c1eb65]U Setting Warning Persistence (EVERYLOAD/SETTINGCHANGE/VERSION/ONCE)"=SETTINGCHANGE
    B:"[S63E6A46E_c1eb65]U Sort Creative Tabs Alphabetically"=true
    B:"[SE5E5ADD3_fa33d7]U Sort Creative Tabs Alphabetically"=true
    S:"[SE367598A_fa33d7]U Setting Warning Persistence (EVERYLOAD/SETTINGCHANGE/VERSION/ONCE)"=SETTINGCHANGE
}


"control setup" {
    I:"Sync Packet ID"=182
    B:"Restore Obsidian Blast Resistance"=true
    B:"Only show update notice to Ops or SSP"=false
    B:"Force Gregtech Ore Compatibility"=true
    B:"Log Sync Packet CME Avoidance"=true
    B:"Slow Sync Packets - Only use this as a last resort"=false
    I:"Minimum Delay (ms) for 'Can't Keep Up!' Log Warning"=0
    B:"Check Environment Sanity"=false
    B:"Attempt to Repair Environment Sanity"=false
    B:"Admins Bypass Permissions"=true
    B:"Use HashMap for Sound Categories - Only use if necessary"=false
    B:"Compare mod file hashes between client and server"=true
    B:"Direct OpenComputers Support"=false
    B:"Merge XP Orbs Like Items"=true
    B:"Extra Block Ticks When Raining"=true
    B:"Prevent Mobs From Targeting Players Immediately After Logging In"=true
    B:"Biome Humidity Dependent Fire Spread"=true
    B:"Restrict profiling abilities to admins"=true
    S:"Bytecodeexec command user UUID whitelist" <
     >
    S:"Automatic Collection of Inventories; set to 'NULL' to disable"=LCTRL
    I:"AFK Timer Threshold (Seconds); Set to 0 to Disable"=120
    B:"Reroute Ender Eyes to Stronghold Entrances"=false
    I:"Expected Approximate Maximum World Size (Radius)"=5000
    I:"Expected Approximate World Center Location X"=0
    I:"Expected Approximate World Center Location Z"=0
    B:"Bytecodeexec command notifies other admins"=false
    B:"Player-Specific Mob Caps"=false
    B:"Allow charged certus to be recognized as normal certus ore"=false
    B:"Prevent block spreading near unloaded chunks"=true
    B:"Make bonemeal generate biome-correct foliage instead of tall grass"=true
    I:"Version Change Warning Level (0 = None, 1 = ReikaMods only, 2 = All)"=2
}


