// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\6.0\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "showKeys": "true",
  "showThemeButton": "true",
  "pauseGame": "false",
  "showPlayerLoc": "true",
  "showMouseLoc": "true",
  "minimalMode": "false",
  "propertiesId": 0,
  "playerDisplay": "OutlinedIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.0",
  "showPlayerHeading": "true",
  "mobDisplay": "DotsAndOutlinedIcons",
  "mobDisplayScale": "1.0",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showAmbientCreatures": "false",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1.0",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "waypointIconScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showOffScreenPlayers": "true",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showPlayerNames": "true",
  "showTeamNames": "true",
  "showEntityNames": "false",
  "showHostileNames": "false",
  "showPassiveNames": "false",
  "showAmbientNames": "false",
  "showPetNames": "false",
  "showNpcNames": "false",
  "showVillagerNames": "false",
  "showNoIconNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "512",
  "configVersion": "6.0.5"
}