// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\6.0\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "logLevel": "INFO",
  "autoMapPoll": "2000",
  "cacheAnimalsData": "3000",
  "cacheMobsData": "3000",
  "cachePlayerData": "1000",
  "cachePlayersData": "2000",
  "cacheVillagersData": "2000",
  "drawStepUpdateRate": "500",
  "announceMod": "true",
  "checkUpdates": "true",
  "recordCacheStats": "false",
  "themeName": "Purist",
  "caveIgnoreGlass": "true",
  "mapOnlyPlayerChunk": "false",
  "mapBathymetry": "true",
  "mapWaterBiomeColors": "true",
  "mapTopography": "true",
  "mapBiome": "true",
  "mapTransparency": "true",
  "mapCaveLighting": "true",
  "netherSurfaceLighting": "true",
  "mapAntialiasing": "true",
  "mapPlantShadows": "false",
  "mapShadows": "true",
  "mapPlants": "false",
  "mapCrops": "true",
  "mapBlendGrass": "false",
  "mapBlendFoliage": "false",
  "mapBlendWater": "false",
  "mapSurfaceAboveCaves": "true",
  "caveBlackAsClear": "false",
  "renderDistanceCaveMax": "0",
  "renderDistanceSurfaceMax": "0",
  "renderDelay": "500",
  "topoMax": "0",
  "revealShape": "Circle",
  "caveModeThreshold": "2",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "false",
  "ignoreHeightmaps": "false",
  "ignoreSnow": "false",
  "lodsEnabled": "true",
  "legacyIcons": "false",
  "allowMiniMapBehindScreens": "true",
  "maxAnimalsData": "32",
  "maxAmbientCreaturesData": "32",
  "maxMobsData": "32",
  "maxPlayersData": "32",
  "maxVillagersData": "32",
  "hideSneakingEntities": "true",
  "hideSpectators": "false",
  "radarLateralDistance": "64",
  "radarVerticalDistance": "16",
  "dataCachingEnabled": "true",
  "glErrorChecking": "false",
  "seedId": "false",
  "serverIp": "false",
  "playerIconFade": "true",
  "mobIconFade": "true",
  "minimapPresetOverlay": "true",
  "minimapMapTypeOverlay": "true",
  "mappingEnabled": "true",
  "optionsManagerViewed": "6.0.5",
  "splashViewed": "6.0.6",
  "gridSpecs": {
    "day": "SquaresWithRegion,#808080,0.5,-1,-1",
    "night": "SquaresWithRegion,#808080,0.5,-1,-1",
    "underground": "SquaresWithRegion,#808080,0.5,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorPassiveLabel": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorHostileLabel": "#ff0000",
  "colorPet": "#0077ff",
  "colorPetLabel": "#0077ff",
  "colorVillager": "#88e188",
  "colorVillagerLabel": "#88e188",
  "colorPlayer": "#ffffff",
  "colorPlayerLabel": "#ffffff",
  "colorSelf": "#0000ff",
  "initialSortOrder": "Name",
  "sortDescending": "true",
  "dayShader": "jm.common.map_filter.default",
  "nightShader": "jm.common.map_filter.default",
  "biomeShader": "jm.common.map_filter.default",
  "topoShader": "jm.common.map_filter.default",
  "caveShader": "jm.common.map_filter.default",
  "netherShader": "jm.common.map_filter.default",
  "colorPickerHistory": [
    "#ff00a8a8"
  ],
  "configVersion": "6.0.6"
}